{% extends 'base.html.twig' %}

{% block title %}Advent of Code{% endblock %}

{% block body %}

    <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Advent of Code</h1>
    </div>
{% endblock %}
