{% macro item(day, firstPart = 'open', secondPart = 'open') %}
    <a href="{{ path('app_day', {'day': day }) }}" class="flex items-center text-white py-4 pl-6 nav-item">
        Day {{ day }}
        {% if firstPart is same as 'succes' %}
            <i class="fas fa-solid fa-star ml-3 text-yellow-400"></i>
        {% elseif firstPart is same as 'fail' %}
            <i class="fas fa-solid fa-star ml-3 text-red-600"></i>
        {% else %}
            <i class="fas fa-solid fa-star ml-3 hidden"></i>
        {% endif %}
        {% if secondPart is same as 'succes' %}
            <i class="fas fa-regular fa-star ml-3 text-yellow-400"></i>
        {% elseif secondPart is same as 'fail' %}
            <i class="fas fa-regular fa-star ml-3 text-red-600"></i>
        {% else %}
            <i class="fas fa-regular fa-star ml-3 hidden"></i>
        {% endif %}
    </a>
{% endmacro %}