<!-- Desktop Header -->
<header class="w-full">
    <div class="relative flex justify-end">
        Advent of code |&nbsp;
        <a href="{{ path('admin') }}">
            <span class="menu-item-label position-relative">
                Admin
            </span>
        </a>
    </div>

</header>