@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-family-karla {
    font-family: karla, serif; }
.bg-sidebar { background: #0284c7; }
.cta-btn { color: #0284c7; }
.upgrade-btn { background: #1947ee; }
.upgrade-btn:hover { background: #0038fd; }
.active-nav-link { background: #1947ee; }
.nav-item:hover, .nav-item.active { background: #1947ee; }
.account-link:hover { background: #0284c7; }

.btn-back {
    right: 12px;
    margin-top: 12px;

}
.btn {
    background-color: #0284c7;
    color: white;
    padding: 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

body {
    margin: 0;
}

select {
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e);*/
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

[type='text'], input:where(:not([type])), [type='email'], [type='url'], [type='password'], [type='number'], [type='date'], [type='datetime-local'], [type='month'], [type='search'], [type='tel'], [type='time'], [type='week'], [multiple], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

.icon, .back-icon {
    display: inline-block;
    width: 24px;
}

.icon {
    color: #374151;
}
.icon.color_pass {
    color: #eab308;
}

aside {
    width: 200px;
}

aside {
    .logo {
        padding: 12px;
        a {
            color: white;
            text-decoration: none;
        }
        :hover {
            color: lightgrey;
        }
    }
    nav a{
        color: white;
        justify-content: center;
        padding: 4px 6px;
        text-decoration: none;
        font-size: large;
    }
}

main, footer {
    background: aliceblue;
}
header {
    background-color: #0284c7;
    color: white;
    div {
        margin: 5px 10px 5px 0;
        a {
            text-decoration: none;
            color: white;
        }
    }
}
main div.grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 0 10px;

    .day_item {
        padding: 4px;
        border-radius: 8px;
        border: 1px solid black;
        text-align: center;
        background: white;
        text-decoration: none;
        color: black;
    }

    a.day_item:hover {
        background-color: #6366f1;
        color: white;
    }
    span.day_item {
        background-color: #d1d5db;
    }
}

main.overview h1 {
    padding-bottom: 30px;
}

main fieldset{
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    margin: 16px;
}
