<!DOCTYPE html>
<html lang="en" class="h-screen bg-white dark:bg-gray-800">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Your Symfony App{% endblock %}</title>
    {% block stylesheets %}
        <!-- Add additional stylesheets here -->
    {% endblock %}
</head>
<body class="bg-gray-100 font-family-karla flex">

{% include 'partials/_aside.html.twig' %}

<div class="relative w-full flex flex-col h-screen overflow-y-hidden">
    {% include 'partials/_menu.html.twig' %}

    {% block body %}{% endblock %}

</div>

{% block javascripts %}
    <!-- Add additional scripts here -->

    <!-- AlpineJS -->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

{% endblock %}
</body>
</html>
